---
layout: wide
title: Mega.
code : mega
description : The environment needs conservation and people need development. We focus on achieving both by building machines that run on environment friendly technology.
image : mega.jpg
highlight1 : <strong>Power - </strong> 60v1000w Brushiess 
highlight2 : <strong>Loading Capacity - </strong> 500 kg
highlight3 : <strong>Climbing - </strong> 30 degree
highlight4 : <strong>Speed - </strong> 60km/h
highlight5 : <strong>Shock absorbers - </strong> 37 hydraulic pressure
---
{% include product-display-head.html %}
{% include mega-spec-sheet.html %}