---
layout: wide
title: Micra.
code : micra
description : The environment needs conservation and people need development. We focus on achieving both by building machines that run on environment friendly technology.
image : micra.jpg
highlight1 : <strong>Speed - </strong> 60 Kmph
highlight2 : <strong>Climbing - </strong> 30 degree
highlight3 : <strong>Power - </strong> 60v1200w Brushiess 
highlight4 : <strong>Loading capacity - </strong>410 kg (4 passengers+1 driver)
highlight5 : <strong>Shock absorbers - </strong> 37 hydraulic pressure
---
{% include product-display-head.html %}
{% include micra-spec-sheet.html %}