---
layout: wide
title: Sarita Super 3.
code : sarita_super_3
description : The environment needs conservation and people need development. We focus on achieving both by building machines that run on environment friendly technology.
image : ss3.jpg
highlight1 : <strong>Climbing - </strong> 30*
highlight2 : <strong>Loading Capacity - </strong> 430 Kg
highlight3 : <strong>Dimension - </strong> 2310*1150*1550
highlight4 : <strong>Weight - </strong> 280 Kg 
highlight5 : <strong>Option - </strong> Air Condition
---
{% include product-display-head.html %}
{% include ss3-spec-sheet.html %}