---
layout: wide
title: Volka.
code : volka
description : The environment needs conservation and people need development. We focus on achieving both by building machines that run on environment friendly technology.
image : volka.jpg
highlight1 : <strong>Size - </strong>130*71*57.5 cm
highlight2 : <strong>Battery - </strong>6v7Ah*2
highlight3 : <strong>Motor - </strong>6v550w/9000RPM*2
highlight4 : <strong>Mp3 Function</strong>
highlight5 : <strong>Remote Control</strong>
---
{% include product-display-head.html %}
{% include volka-spec-sheet.html %}
