---
layout: wide
title: Xpress Electric Rickshaw.
code : xpress
description : The environment needs conservation and people need development. We focus on achieving both by building machines that run on environment friendly technology.
image : erickshaw_w500.png
highlight1 : <strong>Max Speed - </strong>60 Kmph
highlight2 : <strong>Battery - </strong>60/72v
highlight3 : <strong>Power - </strong>800w
highlight4 : <strong>Loading capacity - </strong>300 Kg
highlight5 : <strong>Certification - </strong>CE
---
{% include product-display-head.html %}
{% include xpress-spec-sheet.html %}