---
layout: wide
title: X pro Kids electric bike.
code : xpro
description : The environment needs conservation and people need development. We focus on achieving both by building machines that run on environment friendly technology.
image : ebike.png
highlight1 : <strong>Age - </strong>3+ Years
highlight2 : <strong>Function - </strong>Ride Excercise
highlight3 : <strong>Speed - </strong>4-6 Kmph
highlight4 : <strong>Certification - </strong>EN71, ISO9001, SGS, CCC
highlight5 : <strong>Weight capacity - </strong>50 Kg
---
{% include product-display-head.html %}
{% include xpro-spec-sheet.html %}
