<section class="strip">
<div class="container">
<div class="row">
    <div class="col">
    <h3>Mission</h3>
    <p>We are on a mission to bring affordable high-tech electrical vehicle to all. </p>
    </div>
<div class="col">
    <h3>Vision</h3>
    <p>We see a world dominated by eco-friendly electric based transport system in the next 5 years. We see ourself as a major player in this transformation.</p>
    </div>
<div class="col">
    <h3>End-user centered approach</h3>
    <p>We believe that everything should be designed keeping in view the person who will actually use it. </p>
    </div>
</div>
    </div>
</section>