<section class="strip bg-grey-100">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <img src="{{ site.baseurl }}/public/icons/eco-energy-car.svg" width="200px" class="float-md-right">
            </div>
          <div class="col-md-8">
              <h3>
              Building vehicles to the future.
                </h3>
              <p>
                  We envision a future driven by latest eco-friendly technology which are affordable and practical because technology should uplift everyone.
                  </p>

        </div>
        </div>
    </div>
</section>