<section class="strip bg-grey-100">
          <div class="container">
    <div class="row">
         <div class="col-md-6 col-sm-12 col-xs-12">
          <h3>
          X Pro - Electric bike for kids.
            </h3>
          <p>
        Get the new generation electric automobile built for speed and durability. 
              </p>
          <p>
              With sleek design and powerful battery, your next generation automobile will not only rock the roads but also give the environment a healing touch. Adopt the latest technology in electic motors and become a star of environmental conservation.
              </p>
          <p>
              <ul class="yes-list">
          <li>Max Speed : 6 Kmph</li>
        <li>Battery backup : 12-20 km</li>
          </ul>
          </p>
          
          <a href="/xpro/pre-order" class="btn btn-primary">Pre Order</a>
          <a href="/xpro" class="btn btn-link">Know More</a>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 ">
          <img class="img-fluid" src="{{ site.baseurl }}/public/ebike.png">
        </div>
      
    </div>
    </div>
</section>