<section class="strip">
          <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
          <h3>
          Electric automobile for the new generation.
            </h3>
          <p>
        Get the new generation electric automobile built for speed and durability. 
              </p>
          <p>
              With sleek design and powerful battery, your next generation automobile will not only rock the roads but also give the environment a healing touch. Adopt the latest technology in electic mototors and become a star of environmental conservation.
              </p>
          <a href="#" class="btn btn-primary">Pre Order</a>
          <a href="#" class="btn btn-link">Know More</a>
        </div>
      <div class="col-md-6 col-sm-12 col-xs-12 ">
          <img class="img-fluid" src="{{ site.baseurl }}/public/eric.png">
        </div>
    </div>
    </div>
</section>