<div class="strip">
    <div class="container">
    <h2>Product Details</h2>
    </div>
    <div class="container">
        <div class="row">
        <div class="col">
        <ul class="yes-list">
        <li><strong>Power : </strong> 60v1200w Brushiess </li>
        <li><strong>Controller : </strong> 60v24 tubes</li>
        <li><strong>Brake type : </strong> Mechanical Drum Brake</li>
        <li><strong>Shock absorbers :</strong> 37 hydraulic pressure</li>
        </ul>
        </div>
        <div class="col">
        <ul class="yes-list">
        <li><strong>Climbing : </strong> 30 degree</li>
        <li><strong>Tyre size : </strong> F350*12/R375*12</li>
        <li><strong>Speed : </strong> 60km/h</li>
        <li><strong>Loading Capacity : </strong> 410 kg(4 passengers+1 driver</li>
        </ul>
        </div>
        <div class="col">
        <ul class="yes-list">
        <li><strong>Product Weight : </strong> 245 kgs </li>
        </ul>
        </div>
        </div>
    </div>
        
    </div>