<nav class="navbar navbar-expand-lg navbar-dark bg-primary-color">
  <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}">Kid's Bike <span class="sr-only">(current)</span></a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/about">E-Rickshaw</a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/distributor">Become a Distributor</a>
      </li>
      
    </ul>
  </div>
</nav>