<div class="strip">
    <div class="container">
    <h2>Product Details</h2>
    </div>
    <div class="container">
        <div class="row">
        <div class="col">
        <ul class="yes-list">
        <li><strong>Dimension : </strong>2630*1200*160mm</li>
        <li><strong>Tyre Size : </strong>400/10 vacuum</li>
        <li><strong>Tyres Power : </strong>(60/70) v 24 tubes</li>
        <li><strong>Mechanical Drum Brake</strong></li>
        </ul>
        </div>
        <div class="col">
        <ul class="yes-list">
        <li><strong>Suspension Shock Absorber</strong></li>
        <li><strong>Speed : </strong>Upto 45 km/h</li>
        <li><strong>Material : </strong>ST 16</li>
        <li><strong>Climbing Capacity : </strong>30 Degree</li>
        </ul>
        </div>
        <div class="col">
        <ul class="yes-list">
        <li><strong>Weight : </strong>379 kg</li>
        <li><strong>Loading Capacity : </strong>500 kg </li>
        <li><strong>Option Air Condition</strong></li>
        </ul>
        </div>
        </div>
    </div>
        
    </div>