<div class="container team-container">
    <div class="card-deck">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Ajay Kumar Sinha</h5>
            <p class="card-text">Director</p>
            
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Priti Sinha</h5>
            <p class="card-text">Director
            </p>
            
          </div>
        </div>
        
      </div>
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{{ site.baseurl }}/public/team/ankit-gaurav.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ankit Gaurav</h5>
            <p class="card-text">MD <br/></p>
            
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{ site.baseurl }}/public/team/bb.png" alt="Card image cap">
            <div class="card-body">
                  <h5 class="card-title">Bipul Vikash</h5>
              <p class="card-text">Country Dealership Cell Incharge<br/>
                  Contact - 9334 373 858
              </p>
              
            </div>
          </div>
        <div class="card">
          <img class="card-img-top" src="{{ site.baseurl }}/public/team/gaurav-lal.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gaurav Lal</h5>
            <p class="card-text">Country Circulation Incharge.<br/>
                Contact - 6203388576
            </p>
            
          </div>
        </div>
        
      </div>
      
      <div class="card-deck">
          <div class="card">
              <img class="card-img-top" src="{{ site.baseurl }}/public/team/nityanand.png" alt="Card image cap">
              <div class="card-body">
                    <h5 class="card-title">Nityanand Verma</h5>
                <p class="card-text">State Incharge (Bihar)<br/>
                    Contact - 8595052039
                </p>
                
              </div>
            </div>  
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Vivekanand Sharma</h5>
            <p class="card-text">State Incharge <br/>
              Contact - 9074 342 063</p>
            
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Shreekant Sharma</h5>
            <p class="card-text">State Incharge.<br/>
                Contact - 8516 941 186
            </p>
            
          </div>
        </div>
        
      </div>
      <div class="card-deck">
            <div class="card">
              
              <div class="card-body">
                    <h5 class="card-title">Manju Mahto</h5>
                    <p class="card-text">HR Team<br/>
                        Contact - 9773927039
                    </p>
              </div>
            </div>
            <div class="card">
              
              <div class="card-body">
                    <h5 class="card-title">Kumar Premashish</h5>
                    <p class="card-text">HR Team<br/>
                        Contact - 9065135544
                    </p>
                
              </div>
            </div>
            <div class="card">
              
              <div class="card-body">
                    <h5 class="card-title">Contact Helpdesk</h5>
                <p class="card-text">for more information<br/>
                    Contact - 06244 - 222075
                </p>
                
              </div>
            </div>
          </div>
</div>