<div class="strip">
    <div class="container">
    <h2>Product Details</h2>
    </div>
    <div class="container">
        <div class="row">
        <div class="col">
        <ul class="yes-list">
        <li><strong>Battery : </strong>6v7Ah*2( remote motor 12v380 3500RPM)</li>
        <li><strong>One button starting </strong></li>
        <li><strong>front & back</strong></li>
        <li><strong>mp3 hole</strong></li>
        </ul>
        </div>
        <div class="col">
        <ul class="yes-list">
        <li><strong>sound control</strong></li>
        <li><strong>front light</strong></li>
        <li><strong>music in steering</strong></li>
        <li><strong>High& low speed  </strong></li>
        </ul>
        </div>
        <div class="col">
        <ul class="yes-list">
        <li><strong>High& low speed </strong></li>
        <li><strong>Package Size :</strong>125*68*40 cm</li>
        <li><strong>Motor : </strong>6v550w/9000RPM*2</li>
        <li><strong>G/N Weight :</strong>23.5/20.35 kg</li>
        </ul>
        </div>
        </div>
    </div>
        
    </div>