<div class="strip">
<div class="container">
<h2>Product Details</h2>
</div>
<div class="container">
    <div class="row">
    <div class="col">
    <ul class="yes-list">
    <li><strong>Battery : </strong>6v 4.5A</li>
    <li><strong>Function : </strong>Ride Excercise</li>
    <li><strong>Colour : </strong>White, Red, Blue, Yellow</li>
    <li><strong>Age :</strong>3+ Years</li>
    </ul>
    </div>
    <div class="col">
    <ul class="yes-list">
    <li><strong>Weight : </strong>11.06 Kg</li>
    <li><strong>Speed : </strong> 4-6 Kmph</li>
    <li><strong>Tyre : </strong>EVA</li>
    <li><strong>Certification : </strong>EN71, ISO9001, SGS, CCC</li>
    </ul>
    </div>
    <div class="col">
    <ul class="yes-list">
    <li><strong>Length : </strong>106.8 cm</li>
    <li><strong>Breadth : </strong>50 cm</li>
    <li><strong>Height : </strong>65.7 cm</li>
    <li><strong>Weight capacity : </strong>50 Kg</li>
    </ul>
    </div>
    </div>
</div>
    
</div>